@using IMASD.Models;
@model SalaryCLS
@{
    ViewBag.Title = "Agregar";
}

<h2>Agregar</h2>
<div class="row">
    <div class="col-md-6">
        @using (Html.BeginForm("Agregar", "Salary", "POST"))
        {
            <div>
                @Html.LabelFor(p => p.amount)
                @Html.TextBoxFor(p => p.amount, new { @class = "form-control" })
                @Html.ValidationMessage("amount", new { @class = "text-danger" })
            </div>
            <div>
                @Html.LabelFor(p => p.currency)
                @Html.TextBoxFor(p => p.currency, new { @class = "form-control" })
                @Html.ValidationMessage("currency", new { @class = "text-danger" })
            </div>
            <br />
            <div style="margin:auto">
                <input type="submit" class="btn btn-primary" value="Guardar" />
            </div>

        }
    </div>
</div>

