@using IMASD.Models;
@model SalaryCLS
@{
    ViewBag.Title = "Editar";
}

<h2>Editar</h2>

<div class="row">
    <div class="col-md-6">
        @using (Html.BeginForm("Editar", "Salary", "POST", FormMethod.Post, new { @id = "confEditar" }))
        {
            <div>
                @Html.LabelFor(p => p.idSalary)
                @Html.TextBoxFor(p => p.idSalary, new { @class = "form-control", @readOnly = true })
            </div>
            <div>
                @Html.LabelFor(p => p.amount)
                @Html.TextBoxFor(p => p.amount, new { @class = "form-control" })
                @Html.ValidationMessage("amount", new { @class = "text-danger" })
            </div>
            <div>
                @Html.LabelFor(p => p.currency)
                @Html.TextBoxFor(p => p.currency, new { @class = "form-control" })
                @Html.ValidationMessage("currency", new { @class = "text-danger" })
            </div>
            <br />
            <div style="margin:auto">
                <input type="submit" class="btn btn-primary" value="Guardar" />
                @Html.ActionLink("Regresar", "Index", "Salary", null, new { @class = "btn btn-danger" });
            </div>

        }
    </div>
</div>
<script>
    var confEditar = document.getElementById("confEditar");
    confEditar.onsubmit = function(e){
        e.preventDefault();
        if (confirm("¿Deseas guardar los cambios?") == 1) {
            confEditar.submit();
        }
    }

</script>